<!DOCTYPE html>
<html>
<head>
  <title>vuejs chat app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="https://unpkg.com/native-toast@1.3.0/dist/native-toast.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/native-toast@1.3.0/dist/native-toast.css">
</head>
<body>
<div id="chat" class="container">
  <h1>vuejs chat app</h1>
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <p v-if="message !== editingMessage" class="card-text">{{ message.text }}</p>
      <textarea v-else v-model="messageText" class="form-control"></textarea>
      <div v-if="message !== editingMessage">
        <a @click.prevent="deleteMessage(message)" href="#" class="card-link">delete</a>
        <a @click.prevent="editMessage(message)" href="#" class="card-link">edit</a>
      </div>
      <div v-else>
        <a @click.prevent="cancelEditing" href="#" class="card-link">cancel</a>
        <a @click.prevent="updateMessage" href="#" class="card-link">update</a>
      </div>
    </div>
  </div>
  <hr>
  <form v-if="!editingMessage" @submit.prevent="postMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

<script type="text/javascript">
  // Initialize Firebase
  const config = {
    apiKey: 'hogehoge',
    authDomain: 'hogehoge',
    databaseURL: 'hogehoge',
    projectId: 'hogehoge',
    storageBucket: 'hogehoge',
    messagingSenderId: 'hogehoge'
  }
  firebase.initializeApp(config)

  const database = firebase.database()
  const messagesRef = database.ref('messages')

  new Vue({
    el: "#chat",
    data: {
      messages: [],
      messageText: '',
      nickname: 'yagisuke',
      editingMessage: null
    },
    created() {
      messagesRef.on('child_added', snapshot => {
        this.messages.push({ ...snapshot.val(), id: snapshot.key })
        if (snapshot.val().nickname !== this.nickname) {
          nativeToast({
            message: `New Message ${snapshot.val().nickname}`,
            position: 'top',
            timeout: 3000,
            type: 'success'
          })
        }
      })
      messagesRef.on('child_removed', snapshot => {
        const deletedMessage = this.messages.find(message => message.id === snapshot.key)
        const index = this.messages.indexOf(deletedMessage)
        this.messages.splice(index, 1)
      })
      messagesRef.on('child_changed', snapshot => {
        const updatedMessage = this.messages.find(message => message.id === snapshot.key)
        updatedMessage.text = snapshot.val().text
      })
    },
    methods: {
      postMessage() {
        messagesRef.push({ text: this.messageText, nickname: this.nickname })
        this.messageText = ''
      },
      deleteMessage(message) {
        messagesRef.child(message.id).remove()
      },
      editMessage(message) {
        this.editingMessage = message
        this.messageText = message.text
      },
      cancelEditing() {
        this.editingMessage = null,
        this.messageText = ''
      },
      updateMessage() {
        messagesRef.child(this.editingMessage.id).update({ text: this.messageText })
        this.cancelEditing()
      }
    }
  })
</script>
</body>
</html>