<!DOCTYPE html>
<html>
<head>
  <title>vuejs chat app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div id="chat" class="container">
  <h1>vuejs chat app</h1>
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <p class="card-text">{{ message.text }}</p>
      <a @click.prevent="deleteMessage(message)" href="#" class="card-link">delete</a>
    </div>
  </div>
  <hr>
  <form @submit.prevent="postMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

<script type="text/javascript">
  // Initialize Firebase
  const config = {
    apiKey: 'hogehoge',
    authDomain: 'hogehoge',
    databaseURL: 'hogehoge',
    projectId: 'hogehoge',
    storageBucket: 'hogehoge',
    messagingSenderId: 'hogehoge'
  }
  firebase.initializeApp(config)

  const database = firebase.database()
  const messagesRef = database.ref('messages')

  new Vue({
    el: "#chat",
    data: {
      messages: [],
      messageText: '',
      nickname: 'yagisuke',
    },
    created() {
      messagesRef.on('child_added', snapshot => {
        this.messages.push({ ...snapshot.val(), id: snapshot.key })
      })
      messagesRef.on('child_removed', snapshot => {
        console.log(snapshot.val())
        const deletedMessage = this.messages.find(message => message.id === snapshot.key)
        const index = this.messages.indexOf(deletedMessage)
        this.messages.splice(index, 1)
      })
    },
    methods: {
      postMessage() {
        messagesRef.push({ text: this.messageText, nickname: this.nickname })
        this.messageText = ''
      },
      deleteMessage(message) {
        messagesRef.child(message.id).remove()
      }
    }
  })
</script>
</body>
</html>